JAXWS/WebContent/wsdl/MobilePhoneImpleme.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mobile.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mobile.com" xmlns:intf="http://mobile.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mobile.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="result">
    <complexType>
     <sequence>
      <element name="number" type="xsd:int"/>
      <element name="mobileData" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="resultResponse">
    <complexType/>
   </element>
   <element name="exceptionHandler">
    <complexType>
     <sequence>
      <element name="trace" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="exceptionHandlerResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="resultResponse">

      <wsdl:part element="impl:resultResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="resultRequest">

      <wsdl:part element="impl:result" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="exceptionHandlerRequest">

      <wsdl:part element="impl:exceptionHandler" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="exceptionHandlerResponse">

      <wsdl:part element="impl:exceptionHandlerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MobilePhoneImpleme">

      <wsdl:operation name="result">

         <wsdl:input message="impl:resultRequest" name="resultRequest">

       </wsdl:input>

         <wsdl:output message="impl:resultResponse" name="resultResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="exceptionHandler">

         <wsdl:input message="impl:exceptionHandlerRequest" name="exceptionHandlerRequest">

       </wsdl:input>

         <wsdl:output message="impl:exceptionHandlerResponse" name="exceptionHandlerResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MobilePhoneImplemeSoapBinding" type="impl:MobilePhoneImpleme">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="result">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="resultRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="resultResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="exceptionHandler">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exceptionHandlerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="exceptionHandlerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MobilePhoneImplemeService">

      <wsdl:port binding="impl:MobilePhoneImplemeSoapBinding" name="MobilePhoneImpleme">

         <wsdlsoap:address location="http://localhost:8083/JAXWS/services/MobilePhoneImpleme"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
