JAXWS/WebContent/wsdl/SiteHelper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.com" xmlns:intf="http://ws.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="returnData">
    <complexType>
     <sequence>
      <element name="product" type="impl:Product"/>
      <element name="input" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Product">
    <sequence>
     <element name="company" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="quantity" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="returnDataResponse">
    <complexType>
     <sequence>
      <element name="returnDataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="exceptionHandler">
    <complexType>
     <sequence>
      <element name="error" type="xsd:string"/>
      <element name="reason" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="exceptionHandlerResponse">
    <complexType>
     <sequence>
      <element name="exceptionHandlerReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="exceptionHandlerResponse">

      <wsdl:part element="impl:exceptionHandlerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="exceptionHandlerRequest">

      <wsdl:part element="impl:exceptionHandler" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="returnDataResponse">

      <wsdl:part element="impl:returnDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="returnDataRequest">

      <wsdl:part element="impl:returnData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SiteHelper">

      <wsdl:operation name="returnData">

         <wsdl:input message="impl:returnDataRequest" name="returnDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:returnDataResponse" name="returnDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="exceptionHandler">

         <wsdl:input message="impl:exceptionHandlerRequest" name="exceptionHandlerRequest">

       </wsdl:input>

         <wsdl:output message="impl:exceptionHandlerResponse" name="exceptionHandlerResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SiteHelperSoapBinding" type="impl:SiteHelper">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="returnData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="returnDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="returnDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="exceptionHandler">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exceptionHandlerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="exceptionHandlerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SiteHelperService">

      <wsdl:port binding="impl:SiteHelperSoapBinding" name="SiteHelper">

         <wsdlsoap:address location="http://localhost:8083/JAXWS/services/SiteHelper"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
